body {
  margin: 0;
}

#navbar {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #44475a;
}

#navbar header {
  font-family: sans-serif;
  padding: 15px;
  text-align: center;
  background-color: #282a36;
  color: white;
}

.nav-link {
  font-family: sans-serif;
  display: block;
  color: #f8f8f2;
  padding: 15px;
  text-decoration: none;
  text-align: left;
}

#main-doc {
  padding-top: 20px;
}

.main-section {
  margin-left: 30%;
  margin-right: 30%;
  padding: 3px 10px;
}